@model IEnumerable<WebPBL3.Models.News>

@{
    ViewData["Title"] = "Danh Sách Tin Tức";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="margin-top: 150px">
    <div class="row">
        <div class="col-md-12">
            <h5>
                Danh Sách Tin Tức
                <a href="~/News/ThemTinTuc" style="float: right">Thêm Mới</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NewsID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Photo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StaffID)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewsID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Photo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffID)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

